extends ../layout
block content
    div.jumbotron
        h1 Tiers
    table.table-striped.table.table-bordered.table-sm
        thead.thead-dark
            tr
                th #
                th Name
                th Cost
                th Members
                th
        tbody
            each t, i in tiers
                tr
                    td #{i+1}
                    td #{t.tier.name.charAt(0).toUpperCase() + t.tier.name.slice(1)}
                    td #{t.tier.amount}
                    td #{t.members.length}
