doctype html
html
    head
        style
            include assets/css/bootstrap.css
        title Wube Bereha Members
    body
        div.container-fluid
            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand(href="#") Wube Bereha
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse(id="navbarSupportedContent")
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href="/members") Members
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="/invoices") Invoices
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="/products") Products
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="/tiers") Tiers
                                span.sr-only (current)
            block content
            block footer
                footer
                    p © #{new Date().getFullYear()} Wube Bereha
    script
        include assets/js/jquery-3.5.1.js
        include assets/js/bootstrap.js
