extends ../layout
block content
    div.jumbotron
        h1 CREATE
    div.container
        form(id="invoiceForm" method="POST" action="/invoices")
            div.form-group
                label Member
                select(name="member" id="mem").form-control
                    each m in members
                        - const first_name = m.first_name.charAt(0) + m.first_name.slice(1)
                        - const last_name = m.last_name.charAt(0) + m.last_name.slice(1)
                        option(value=`${m._id}`) #{first_name + " " + last_name}
            h3 Products
            each p in products
                div.input-group.mb-3
                    div.input-group-prepend
                        div.input-group-text
                            input(type="checkbox" value=`${p._id}` name="products")
                    label.form-control #{p.name}
                    input(type="number" name="qty")
            button(type="submit").btn.btn-sm.btn-primary Submit
    script.
        var mem = document.getElementById("mem").value
        var checked = []
        var q = []
        var toBeSent = []
        document.getElementById('invoiceForm').addEventListener('submit', function(event){
            event.preventDefault()
            var products = document.getElementsByName('products')
            for (var i = 0; i < products.length; i++) {
                if(products[i].checked === true){
                    checked.push(products[i].value)
                }
            }

            var qty = document.getElementsByName('qty')
            for(var i=0;i<qty.length;i++) {
                if(qty[i].value.length > 0){
                    q.push(qty[i].value)
                }
            }
            for(var i=0;i<checked.length;i++){
                toBeSent.push({
                    product: checked[i],
                    qty: parseInt(q[i], 10)
                })
            }
            var data = JSON.stringify({
                member: mem,
                products: toBeSent
            })
            console.log(data)
            fetch("/invoices", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data
            })
        })
