extends ../layout
block content
    div.jumbotron
        h1 #{invoice._id}
        if invoice.member
            h2 #{invoice.member.first_name + " " +invoice.member.last_name}
        else
            p.lead Deleted Member
        hr.my-4
        a.btn.btn-sm.btn-primary(href=`/invoices/${invoice._id}/edit`) EDIT
        span &nbsp
        a.btn.btn-sm.btn-danger(onclick=`confirmDeleteInvoice("${invoice._id}")`) DELETE

    table.table-striped.table.table-sm.table-bordered
        thead.thead-dark
            tr
                th #
                th Product Name
                th Product Cost
        tbody
            each p, i in invoice.products
                tr
                    td #{i+1}
                    td
                        a(href=`/products/${p.product._id}`) #{p.product.name}
                    td #{p.product.cost}
    div.list-group
        p.list-group-item
            strong Total: &nbsp;
            span #{total}

    script.
        function confirmDeleteInvoice(id){
            if(confirm("Are you sure you want to delete the Invoice?")){
                fetch(`/invoices/${id}`,{
                    method: "DELETE"
                }).then(()=>{
                    window.location.replace("/invoices")
                })
            }
        }