extends ../layout
block content
    div.jumbotron
        h1 EDIT #{invoice._id}
    div.container
        form(method="POST" action=`/invoices/${invoice._id}?_method=PUT`)
            div.form-group
                label Member
                select(name="member").form-control
                    each m in members
                        - const first_name = m.first_name.charAt(0) + m.first_name.slice(1)
                        - const last_name = m.last_name.charAt(0) + m.last_name.slice(1)
                        if m._id === invoice.member._id
                            option(value=`${m._id}` selected) #{first_name + " " + last_name}
                        else
                            option(value=`${m._id}`) #{first_name + " " + last_name}
            each p in products
                div.input-group.mb-3
                    div.input-group-prepend
                        div.input-group-text
                            input(type="checkbox" name=`${p._id}`)
                    label.form-control #{p.name}
            button(type="submit")
