extends ../layout
block content
    div.jumbotron
        h1 Invoices
        hr.my-4
        a.btn.btn-sm.btn-primary(href=`/invoices/create`) New
    table.table.table-bordered.table-sm.table-striped
        thead.thead-dark
            tr
                th #
                th ID
                th Member
                th Products
                th Total
                th Date
                th
        tbody
            each i,k in invoices
                tr
                    td #{k+1}
                    td #{i.invoice._id}
                    if i.invoice.member
                        td #{i.invoice.member.first_name + " " + i.invoice.member.last_name}
                    else
                        td Deleted
                    td #{i.invoice.products.length}
                    td #{i.total}
                    - var d = i.invoice.created_on;
                    - var y = new Intl.DateTimeFormat("en", { year: "numeric" }).format(d);
                    - var m = new Intl.DateTimeFormat("en", { month: "short" }).format(d);
                    - var day = new Intl.DateTimeFormat("en", { day: "2-digit" }).format(d);
                    - var invDate = `${day}-${m}-${y}`;
                    td #{invDate}
                    td
                        a.btn-sm.btn.btn-primary(href=`/invoices/${i.invoice._id}`) DETAILS



