extends ../layout
block content
    div.jumbotron
        h1 CREATE MEMBER
    div.container
        form(method="POST" action="/members")
            div.form-group
                label First Name
                input(type="text" placeholder="First Name" name="first_name").form-control
            div.form-group
                label Last Name
                input(type="text" placeholder="Last Name" name="last_name").form-control
            div.form-group
                label Phone Number
                input(type="text" placeholder="Phone NUmber" name="phone_number").form-control
            div.form-group
                select(name="membership").form-control
                    each t in tiers
                        option(value=`${t._id}`) #{t.name.toUpperCase()}
            div.form-group
                label Password
                input(type="password" placeholder="Password" name="password").form-control
            button(type="submit").btn.btn-success.btn-sm CREATE