extends ../layout
block content
    - const mid = member._id
    div.jumbotron
        h1.display-4 #{member.first_name + " " + member.last_name}
        hr.my-4
        p.lead
            strong Membership&nbsp
            a(href="/tiers/" + member.membership._id) #{member.membership.name.toUpperCase()}
        p.lead
            strong Phone Number&nbsp
            span #{member.phone_number}
        p.lead
            strong Balance&nbsp
            span #{member.balance}
        p.lead
            a(href=`/members/${member._id}/edit`).btn-sm.btn.btn-success EDIT
            span &nbsp;
            a(onclick=`confirmDelete("${mid}")`).btn-sm.btn.btn-danger DELETE
    h1 Invoices
    h1 #{invoices[0].invoice.length}
    ul.list-group
        each i in invoices
            strong #{i.invoice._id}
            p #{i._id}
                table.table.table-striped.table-bordered
                    thead.thead-dark
                        tr
                            th(scope="col") #
                            th(scope="col") Name
                            th(scope="col") Cost
                    tbody
                        each p, k in i.invoice.products
                            tr
                                td #{k+1}
                                td #{p.name}
                                td #{p.cost}
                ul.list-group
                    li.list-group-item
                        strong Total #{i.total}

    script.
        function confirmDelete(mid){
            console.log(mid)
            if(confirm("Are you Sure you want to delete the member?")){
                console.log("OK")

                fetch(`/members/${mid}`,{
                    method: "DELETE",
                    headers: {"Content-type": "application/json"}
                })
                window.location.replace("/members")
            }
        }