extends ../layout
block content
    h1 EDIT
    div.container
        form(method="POST" action=`/members/${member._id}?_method=PUT`)
            div.form-group
                label First Name
                input(type="text" name="first_name" placeholder="First Name" value=`${member.first_name}`).form-control
            div.form-group
                label Last Name
                input(type="text" name="last_name" placeholder="Last Name" value=`${member.last_name}`).form-control
            div.form-group
                label Phone Number
                input(type="text" name="phone_number" placeholder="Phone Number" value=`${member.phone_number}`).form-control
            div.form-group
                button(type="submit").btn.btn-primary.btn-sm SUBMIT
