extends ../layout
block content
    div.jumbotron
        h1  Members
        hr.my-4
        p.lead
            a(href="/members/create").btn.btn-primary.btn-sm NEW
    table.table.table-bordered.table-striped.table-sm
        thead.thead-dark
            tr
                th #
                th First Name
                th Last Name
                th Phone Number
                th Balance
                th Membership
                th Invoices
                th
        tbody
            each m, i in members
                - const membership = m.membership.amount * 0.5
                if m.balance < membership
                    tr.table-danger
                        td #{i+1}
                        td #{m.first_name}
                        td #{m.last_name}
                        td #{m.phone_number}
                        td #{m.balance}
                        td
                            a(href="/tiers/" + m.membership._id) #{m.membership.name.toUpperCase()}
                        td #{typeof invoices[i]}
                        td
                            a.btn.btn-primary.btn-sm(href="/members/" + m._id) Details
                else
                    tr
                        td #{i+1}
                        td #{m.first_name}
                        td #{m.last_name}
                        td #{m.phone_number}
                        td #{m.balance}
                        td
                            - const mname = m.membership.name.charAt(0).toUpperCase() + m.membership.name.slice(1)
                            a(href="/tiers/" + m.membership._id) #{mname}
                        td #{typeof invoices[i]}
                        td
                            a.btn.btn-primary.btn-sm(href="/members/" + m._id) Details
