extends ../layout
block content
    div.jumbotron
        h1 CREATE PRODUCT
    div.container
        form(method="POST" action="/products")
            div.form-group
                label Name
                input.form-control(placeholder="Product Name" name="name")
            div.form-group
                label Cost
                input.form-control(placeholder="Product Cost" name="cost")
            button.btn.btn-primary.btn-sm(type="submit") Submit