extends ../layout
block content
    div.jumbotron
        - const name = product.name.charAt(0).toUpperCase() + product.name.slice(1)
        h1 #{name}
        p.lead
            span
                a(href=`/products/${product._id}/edit`).btn.btn-primary.btn-sm EDIT
            span &nbsp;
            span
                a(onclick=`confirmProductDelete("${product._id}")`).btn.btn-danger.btn-sm DELETE
    h2 Invoices
    table.table.table-sm.table-striped
        thead.thead-dark
            tr
                th #
                th ID
                th Date
        tbody
            each i, k in invoices
                tr
                    td #{k+1}
                    td
                        a(href=`/invoices/${i._id}`) #{i._id}
                    - const idate = i.created_on
                    - const y = new Intl.DateTimeFormat("en", { year: "numeric" }).format(idate);
                    - const m = new Intl.DateTimeFormat("en", { month: "short" }).format(idate);
                    - const day = new Intl.DateTimeFormat("en", { day: "2-digit" }).format(idate);
                    - const invDate = `${day}-${m}-${y}`;
                    td #{invDate}


    script.
        function confirmProductDelete(pid){
            if(confirm("Do you want to delete the product?")){
                fetch(`/products/${pid}`, {
                    method: "DELETE"
                }).then(res=>{
                    window.location.replace("/products")
                })
            }
        }