extends ../layout
block content
    div.jumbotron
        h1 EDIT #{product.name.charAt(0).toUpperCase() + product.name.slice(1)}
    div.container
        form(action=`/products/${product._id}?_method=PUT` method="POST")
            div.form-group
                label Name
                input.form-control(value=`${product.name}` name="name" placeholder="Product Name")
            div.form-group
                label Cost
                input.form-control(value=`${product.cost}` name="cost" placeholder="Product Cost")
            button(type="submit").btn.btn-success.btn-sm Submit