extends ../layout
block content
    div.jumbotron
        h1 PRODUCTS
        hr.my-4
        a.btn.btn-sm.btn-primary(href="/products/create") New
    table.table.table-striped.table-sm.table-bordered
        thead
            tr.thead-dark
                th #
                th Name
                th Cost
                th
        tbody
            each p, i in products
                tr
                    td #{i+1}
                    - const name = p.name.charAt(0).toUpperCase() + p.name.slice(1)
                    td #{name}
                    td #{p.cost}
                    td
                        a.btn.btn-sm.btn-primary(href=`/products/${p._id}`) DETAILS
